# Core ML/CV libraries
ultralytics
opencv-python<=4.12.0
numpy<2.0 # Pinned to avoid ABI issues with older libraries like tensorflow
supervision
pandas
matplotlib
PyYAML
transformers

# Dataset creation tool dependencies
pyrealsense2
python-dotenv
thefuzz[speedup]
autodistill
autodistill-grounding-dino

# Models installed directly from GitHub
# Using -e makes the installation "editable", which is good practice for git-based dependencies
-e git+https://github.com/luca-medeiros/lang-segment-anything.git#egg=lang-sam
-e git+https://github.com/facebookresearch/segment-anything.git#egg=segment_anything

# Other dependencies that were discovered to be necessary during setup
flatbuffers
hydra-core
